name: .NET CI

on:
  push:
    branches: [main]
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - ".github/workflows/ci.yaml"
  pull_request:
    branches: [main]
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - ".github/workflows/ci.yaml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Print working directory
        run: pwd

      - name: List directory contents
        run: ls -la

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Cache NuGet packages
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore dependencies
        run: dotnet restore
        working-directory: .src/SportsBall.Api

      - name: Build
        run: dotnet build --no-restore --configuration Release
        working-directory: .src/SportsBall.Api

      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal --parallel
        working-directory: .src/SportsBall.Api
